<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>👥 Issue List</h2>
    <a class="btn btn-primary" routerLink="/add-issue"> ➕ Add New Issue </a>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark text-center">
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Book</th>
        <th>Issue Date</th>
        <th>Return Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (issue of issues; track $index) {
      <tr>
        <td class="text-center">{{ $index + 1 }}</td>
        <td>{{ issue.user?.name }}</td>
        <td>{{ issue.book?.title }}</td>
        <td>{{ issue.issueDate | date : "dd-MM-yyyy" }}</td>
        <td>
          {{
            issue.returnDate
              ? (issue.returnDate | date : "dd-MM-yyyy")
              : "Not returned"
          }}
        </td>
        <td class="text-center">
          <button class="btn btn-sm btn-warning me-2">✏️ Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteIssue()">
            🗑️ Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
